{% extends 'gadgets/base.html' %}
{% block title %}Dog Training{% endblock %}
{% block body %}

    <h1 style="text-align: center">Dog Training Tips</h1>
    <br><br>
    <h3>1. Listen to Your Dog</h3>
    <p>Learn to listen to your dog. If your dog appears to be uncomfortable meeting another dog, animal or person, don’t insist that he say hello. He’s telling you that he isn’t comfortable
        for a reason, and you should respect that. Forcing the issue can often result in bigger problems down the line.</p>
    <br>
    <h3>2. Be Generous with Your Affection</h3>
    <p>Most people don’t have a problem being very clear about when they are unhappy with their dogs, but, they often ignore the good stuff. Big mistake!
        Make sure you give your dog lots of attention when he’s doing the right thing. Let him know when he’s been a good boy.
        That’s the time to be extra generous with your attention and praise. It’s even okay to be a little over the top.</p>
    <br>
    <h3>3. Does He Really Like It?</h3>
    <p>Just because the bag says “a treat all dogs love” doesn’t mean your dog will automatically love it. Some dogs are very selective about what they like to eat. Soft and
        chewy treats are usually more exciting for your dog than hard and crunchy treats. Keep your eyes open for what he enjoys.</p>
    <br>
    <h3>4. Tell Him What You Want Him to Do</h3>
    <p>There is nothing inherently wrong with telling your dog “no,” except that it doesn’t give him enough information. Instead of telling your dog “no,” tell him what you want him to do. Dogs don’t generalize well, so if your dog jumps up on someone to say
        hello and you say no, he may jump higher or he may jump to the left side instead of the right. A better alternative would be to ask him to “sit.” Tell him what you want him to do in order to avoid confusion.</p>
    <br>
    <h3>5. Be Consistent</h3>
    <p>Whenever you’re training your dog, it’s important to get as many family members involved as possible so everyone’s on the same
        page. If you are telling your dog “off” when he jumps on the couch and someone else is saying “down,” while someone
        else is letting him hang out up there, how on earth is he ever going to learn what you want? Consistency will be
        the key to your success.</p>
    <br>
    <h3>6. Have Realistic Expectations</h3>
    <p>Changing behavior takes time. You need to have realistic expectations about changing your dog’s behavior as well as
        how long it will take to change behaviors that you don’t like. Often behaviors which are “normal” doggie behaviors
        will take the most time such as barking, digging and jumping. You also need to consider how long your dog has
        rehearsed the behavior. For example, if you didn’t mind that your dog jumped up on people to say hi for the
        last seven years and now you decide that you don’t want him to do that anymore, that behavior will take a much
        longer time to undo than if you had addressed it when he was a pup. Remember it’s never too late to change the
        behavior some will just take longer than others.</p>
    <br>
    <h3>7. Don’t Underestimate the Benefits of Feeding a High Quality Food</h3>
    <p>Feed your dog a high-quality diet with appropriate amounts of protein. If your dog spends most of his days lounging
        in your condo, don’t feed him food with a protein level that is ideal for dogs who herd sheep all day. The money
        that you will spend on feeding an appropriate quality food will often be money that you save in vet bills later on.
        I recommend you always check with your veterinarian for the right diet for your dog.</p>
    <br>
    <h3>8. You Get What You Reinforce – Not Necessarily What You Want</h3>
    <p>If your dog exhibits a behavior you don’t like, there is a strong likelihood that it’s something that has been reinforced before. A great example is when your dog brings you a toy and barks to entice you to throw it. You throw the toy. Your dog has just learned that barking gets you to do what he wants. You say “no,” and he barks even more. Heaven forbid you give in and throw the toy now! Why? Because you will have taught him persistence pays off. Before you know it you’ll have a dog that barks and barks every time he wants something.
        The solution? Ignore his barking or ask him to do something for you (like “sit”) before you throw his toy.</p>
    <br>
    <h3>9. Bribery vs. Reward</h3>
    <p>The idea of using treats to train is often equated with bribery. Truthfully, dogs do what works.
        If using treats gets them to do what you want, then why not? You can also use the world around you as a
        reinforcement. Every interaction you have with your dog is a learning opportunity, so when you think about it,
        you probably don’t use food very often except during active training sessions. So why does your dog continue to
        hang out? Because you reinforce him with praise, touch, games and walks. Just remember, the behavior should produce
        the treat; the treat should not produce the behavior.</p>
    <br>
    <h3>10. Freedom</h3>
    <p>Let your new dog gradually earn freedom throughout your home. A common error that many pet parents make is giving
        their new dog too much freedom too soon. This can easily lead to accidents relating to housetraining and
        destructive chewing. So, close off doors to unoccupied rooms and use baby gates to section off parts of the
        house, if necessary. One of the best ways to minimize incidents is to keep your dog tethered to you in the
        house and by using a crate or doggie safe area when you can’t actively supervise him.</p>

{% endblock %}