{% extends 'gadgets/base.html' %}
{% block title %}Dog SelfWash{% endblock %}
{% block body %}
    <h1 style="text-align: center">Dog SelfWash Tips</h1>
    <h3>Dress for the fun  :</h3>  we're washing dogs here and it's actually hard work. You may get wet and there will be some dog hair blowing.  We do provide aprons,  face masks, eye protection, and ear plugs for anyone that requests them.  If your pet is skittish, nervous around other pets, or if you are sensitive to pet hair or noise - please see our Best Self-Wash Times below for an improved experience.



<h3>Best Self-Wash Times :</h3> weekdays and afternoons (after 1:30) usually provide the best availability of our wash tubs and the least amount of distractions (dryer noise, pet hair, etc...).  Our morning hours, Fridays, Saturdays,  & Sundays are our busiest times. Although we may have very limited tub availability during these times, an appointment is required.  We recommend calling ahead and/or allowing yourself (& us) time to prepare your tub.  Please note : there are times when all tubs are being used and there are no available appointments.  Last self-wash is 1 hour before closing to allow you enough time to wash and dry your pet.

​

<h3>If you have questions, we are here to help : </h3>any available associate can assist you if you have questions about the wash or dry process.  If you notice your pet has fleas or ticks, let us know immediately and we can offer a different shampoo based on their condition.  We have shampoos for sensitive skins,  white coats,  pets that are shedding,  and even a special shampoo if your pet got "skunked".   Need advice on how to clean your pets ears, trim their nails, or anything else - just ask, we are here to help.
{% endblock %}