{% extends 'gadgets/base.html' %}

{% block title %}{{ cat.category }}{% endblock %}
{% block body %}
<div class="row">
{% for prod in cat.product_set.all %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{ prod.image.url }}" alt="...">
      <div class="caption">
        <h3>{{ prod.ptitle}}</h3>
          <h4>{{ prod.brand}}</h4>
          <p>Price : <srtike>{{ prod.price }}</srtike><br>Actual price : {{ prod.act_price }}</p>



      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}