{% extends 'gadgets/base.html' %}
{% block title %}Veterinary Care{% endblock %}
{% block body %}
    <h1 style="text-align: center">Veterinary Care Tips</h1>

    <h3>1. Yearly veterinary examinations</h3>
Annual examinations are as essential as food and love. Don’t wait for your pet to be sick before taking him to the veterinarian. Bring your pet in for a wellness exam at least once a year. Older pets and pets with medical issues may need to be seen more frequently. Your veterinarian will examine your pet from head to tail to insure he is healthy and up to date on immunizations and other preventives. In the long run these annual checkups will save you money and heartache by protecting your pet from preventable diseases and by detecting illness early when it is more treatable. Taking your pet to the veterinarian for an annual wellness exam is the best way to ensure your pet lives a long, healthy life.





<h3>2. Vaccinations </h3>

Most people wouldn’t skip vaccinating their kids and shouldn’t overlook vaccinating their pets. Immunizations protect our pets from devastating diseases caused by viruses and bacteria. As a shelter vet, I see too many animals suffering needlessly from preventable diseases like distemper and parvovirus. Ask your veterinarian to find out which vaccines would benefit your pet based on his lifestyle and risk factors, and how often your pet should receive booster vaccines.





<h3>3. Screening tests </h3>

Since animals can’t talk and tell us what is wrong with them, screening tests are important because they can detect disease before signs and symptoms develop. Depending on your pet’s age, your veterinarian will recommend screening tests to look for problems like diabetes, kidney disease or thyroid disease. Make sure you get the screening tests recommended by your veterinarian even if your pet looks healthy. Your veterinarian may also recommend screening tests before your pet undergoes general anesthesia to ensure they are healthy enough for the procedure.





<h3>4. Dental care</h3>

Commit to keeping your pet’s teeth clean and healthy. What does this entail? First, take your pet to the veterinarian for a checkup, and cleaning if necessary, at least once a year. Second, brush his teeth regularly with pet toothpaste and give him dental chews to help keep his teeth pearly white in between visits. Routine dental care can not only help keep your pet’s teeth clean and healthy but also help prevent painful and costly dental problems in the future.





<h3>5. Parasite protection</h3>

Parasites are a common and important cause of disease in pets. They can be internal, like worms and protozoa, or external, like fleas and ticks. Besides making you cringe, parasites can cause significant morbidity in pets and can lead to death in the case of heartworm disease and Lyme disease, to name just two. Parasites can even pose a danger to other family members such as children. Fortunately, parasitic disease is easy to prevent. Speak with your veterinarian to ensure you are protecting your pets and family from internal and external parasites by using monthly preventatives year round.





<h3>6. Microchips</h3>

If your pet doesn’t already have one, make sure you microchip. While collars and ID tags are important, they are not a guarantee that your pet will be returned home if he ever gets lost. Collars and ID tags are not foolproof because they can break or fall off. As a shelter vet, I see many lost pets end up in the shelter. I am a strong proponent of microchips because I think they are the best way to improve the odds that your pet will be returned home if he ever gets lost. Finally, don’t forget to keep your contact information up to date. A microchip isn’t very effective if no one can reach you to tell you they have your lost pet.





<h3>7. Spay and neuter your pet</h3>

Besides helping prevent pet overpopulation and being the responsible thing to do, spaying and neutering your dog or cat has important health benefits. For example, spaying and neutering lowers the risk of breast cancer, testicular cancer, and pyometra (infection of the uterus). Spaying and neutering can also help with behavioral problems such as spraying, roaming, and aggression. If your pet isn’t already spayed or neutered, call your veterinarian to discuss how spaying or neutering can benefit your pet.





<h3>8. Pet proof your home</h3>

Pets are curious creatures by nature, but sometimes their curiosity can get them into trouble. Make sure your home is safe for your pet by pet-proofing. Check the ASPCA Animal Poison Control Center’s website for a list of the most common poisonous household plants to ensure that none of your houseplants are a potential hazard to your pet. Also, refer to their website to learn which foods and other household items may be toxic to your pet. Lastly, don't forget to keep all toxic chemicals stored safely away from your pets.





<h3>9. Exercise</h3>

Exercise is the best way for your pet to stay trim and healthy. Like us, pets can suffer from obesity and the problems associated with being overweight such as arthritis and diabetes. Make sure you exercise your pet and maintain their level of activity. For dogs, go on longer walks, play fetch and let them run off-leash in a dog park. If you’re a runner, check with your veterinarian to find out if it’s okay to run with your dog. For cats, have them chase a laser pointer and play more with them. Exercise is the best way to keep your pet physically healthy and mentally stimulated.





<h3>10. Teach an old dog a new trick</h3>

Muscles are not the only things that need to be exercised; stimulate your pet’s brain. This can be as simple as giving him interactive toys that stimulate his mind or teaching your pet a new trick. If you have a dog, consider enrolling him in an obedience course or sign up for agility training. While it is important to keep your pets physically healthy, it is equally important to keep their minds stimulated and sharp. Don’t forget that dogs are always capable of learning.



If you have any questions or concerns, you should always visit or call your veterinarian – they are your best resource to ensure the health and well-being of your pets.

{% endblock %}